<h2>Doctor</h2>
<%= @doctor.name %><br>
<%= @doctor.specialty %><br>
<%= @doctor.university %><br>

Hospital: <%= @doctor.hospital.name %><br>

Patients: <% @doctor.patients.each do |patient| %>
              <section id="patient-<%= patient.id %>">
                <%= patient.name %>
                <%= button_to "Remove Patient", "/doctor_patients/#{patient.id}", method: :delete %><br>
              </section>
          <% end %>
